<p-panel header="Pipes Basicos" class="p-2">
  <p>
    Pipes incluidos generalmente en angular incluidos en el Common module
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Upper Case">
      {{nameLower | uppercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Lower Case">
      {{nameUpper | lowercase}}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Tittle Case">
      {{fullName | titlecase}}
    </p-card>
  </div>


  <div class="col-12 md:col-6">
    <p-card header="Upper Case">
      <ol>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'MMM'</li>
        <li>fecha | date:'MMM dd, yyyy'</li>
      </ol>
      <hr>
      <ol>
        <li>fecha | date:'long':'GMT-6'</li>
        <li>fecha | date:'long':'GMT-5'</li>
        <li>fecha | date:'long':'':'es-CO'</li>
      </ol>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="Upper Case">

      <ol>
        <li>{{customDate}}</li>
        <li>{{customDate | date}}</li>
        <li>{{customDate | date:'short'}}</li>
        <li>{{customDate | date:'long'}}</li>
        <li>{{customDate | date:'MMM'}}</li>
        <li>{{customDate | date:'MMM dd, yyyy'}}</li>
      </ol>
      <hr>
      <ol>
        <li>{{customDate | date:'long':'GMT-6'}}</li>
        <li>{{customDate | date:'long':'GMT-5'}}</li>
        <li>{{customDate | date:'long':'':'es-CO'}}</li>
      </ol>
    </p-card>
  </div>
</div>
